@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

#modal-container {
  display: none;
  position: fixed;
  z-index: 9000;
  top: 10vh;
  right: 6vw;
  width: 75vw;
  min-height: 50vh;
  max-height: 80vh;
  border: 0;
  border-radius: 5px;
  padding: 1em 2em 2em;
  background: #fff;
  /* opacity: 1; */
  box-shadow: 0 8px 12px rgba(132, 124, 108, 0.1);
}

.fade-in {
  animation: fadeIn .4s linear;
}

.fade-out {
  animation: fadeOut .4s;
}

#modal-container.modal-visible {
  display: block;
}

#modal-container img {
  height: 25vh;
  width: 100%;
}

#modal-container #modal-full-description {
  padding: 1em 0em 1em;
}

#modal-container #modal-close-button {
  float: right;
  background: unset;
  border: 0;
  display: flex;
  color: #7c7a7a;
  font-weight: bolder;
  transition: all 0.4s;
}

#modal-container #modal-date {
  float: right;
  font-weight: bold;
}

#modal-container #modal-close-button:hover {
  transform: rotate(180deg);
}

@media only screen and (min-width: 900px) {
  #modal-container {
    right: 30vw;
    left: 30vw;
    width: 40vw;
    min-height: 250px;
    max-height: 80vh;
  }
  #modal-container img {
    height: 40vh;
  }
}
