body {
  height: 100%;
  padding: 0;
  margin: 0;
  position: relative;
  font-size: 14px;
  font-family: "Urbanist", sans-serif;
  background: #000000;
  color: #fff;
}

button {
  cursor: pointer;
}

.timeline {
  height: 100%;
  overflow: hidden;
  position: relative;
  padding: 2em 0 2em 0;
  margin: 2em 0em;
}

/* Timeline vertical bar */
.timeline::before {
  content: "";
  border: 2px solid #ff9c00;
  margin-left: 50%;
  display: inline-block;
  height: inherit;
  position: absolute;
  top: 10px;
  bottom: 0;
  border-top-left-radius: 50%;
}

/* Ball at timeline vertical bar's lower end */
.timeline::after {
  content: "";
  display: block;
  height: 20px;
  width: 20px;
  background: #ff9c00;
  border-radius: 50%;
  position: absolute;
  margin-left: 48.25%;
  bottom: 0;
}

.timeline-item {
  /* border: 1px solid #ff9c00; */
  width: 50%;
}

.timeline-item:nth-of-type(1n) {
  text-align: right;
  width: 50%;
  /* margin-left: calc(20% - 1.5em); */
  position: relative;
}

/* Horizontal bar connecting to timeline vertical bar */
.timeline-item:nth-of-type(1n)::after {
  content: "";
  display: block;
  border: 2px solid #ff9c00;
  width: 1.3em;
  position: absolute;
  top: 50%;
  right: -1.5em;
}

/* Big square that I do not yet know what to put there */
.timeline-item:nth-of-type(1n)::before {
  content: url("../img/cupcake-svgrepo-com.svg");
  display: block;
  position: absolute;
  right: 0;
  bottom: calc(50% - 2em); /*subtracting half of the height */
  height: 4em;
  width: 4em;
  border: 0;
  border-radius: 5px;
  background: #ff9c00;
}

.timeline-item-title {
  color: red;
  font-weight: 900;
}

.timeline-item-date {
  font-weight: 900;
  color: green;
}

.timeline-item:nth-of-type(2n) {
  text-align: left;
  /* margin-left: calc(50% + 1.5em); */
  margin-left: 50%;
  width: 50%;
}

.timeline-item:nth-of-type(2n)::after {
  left: -1.5em;
}

.timeline-item:nth-of-type(2n)::before {
  left: 0;
}

.timeline-item-more-info {
  background: unset;
  border: 1px dashed #ff9c00;
  color: #FFB033;
  font-weight: 300;
  padding: 1em;
  border-radius: 1em;
}

/* Some hack to move timeline content away from ::before :) */
.timeline-item:nth-of-type(1n) *:not(.timeline-item-title) {
  margin-right: 5em;
}

.timeline-item:nth-of-type(1n) .timeline-item-title {
  margin-right: 3.2em;
}

.timeline-item:nth-of-type(2n) *:not(.timeline-item-title) {
  margin-left: 5em;
}

.timeline-item:nth-of-type(2n) .timeline-item-title {
  margin-left: 3.2em;
}
/* end hack :) */

@media screen and (min-width: 760px) and (max-width: 900px) {
  .timeline::after {
    margin-left: 49%;
  }
}

@media only screen and (min-width: 900px) {
  .timeline {
    margin: 2em 1em 2em 1em;
  }

  .timeline::after {
    margin-left: 49.45%;
  }
  .timeline-item:nth-of-type(1n) {
    width: 30%;
    margin-left: calc(20% - 1.5em);
  }
  .timeline-item:nth-of-type(2n) {
    margin-left: calc(50% + 1.5em);
    width: 30%;
  }
}
